problem-1

In [1]:
#Q1. How do you comment code in Python? What are the different types of comments?
'''ANS-Basically comments can be single line comment as well as multiline 
comment.single line comment can be 
performed by putting a '#'symbol whereas a multiline comment can be executed
inside triple quotes('''   ''').
this question has been answered itself using comments'''

"ANS-Basically comments can be single line comment as well as multiline \ncomment.single line comment can be \nperformed by putting a '#'symbol whereas a multiline comment can be executed\ninside triple quotes().\nthis question has been answered itself using comments"

problem-2

In [2]:
#Q2. What are variables in Python? How do you declare and assign values to
#variables?
'''ANS-variables are the containers which contains different types 
of data types(int,float,tuple,boolean etc)
example of variable declaration is shown below'''
a=25                            #a is a container that stores value 25
b=10                             #bis a container that stores value 10
print(a)
print(b)

25
10

problem-3

In [3]:
#Q3. How do you convert one data type to another in Python?
'''ANS-Basically the method used to convert one data type to other is known as
typecasting.
one example of it is given below'''
a=input("enter a number")
print(type(a))   
a=int(a)                  #type casting is done here which converts string data type to class int
print(type(a))

enter a number 4

<class 'str'>
<class 'int'>

problem-4

In [4]:
#Q4. How do you write and execute a Python script from the command line?
'''ans-first open the command prompt and then write python there if the 
installation is not proper then it will not 
work in that case we can anaconda prompt also.In the command prompt write python and hit "enter" then python with
its version will be displayed then write "python file_location" the file
whose code you want to run.then hit
"enter".

SyntaxError: incomplete input (2007533558.py, line 2)

problem-5

In [5]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list 
#and obtain the sub-list [2, 3].

my_list=[1,2,3,4,5]
print(my_list[1:3])

[2, 3]

problem-6

In [6]:
#Q6. What is a complex number in mathematics, and how is it represented 
#in Python?
'''ANS-Complex number in mathematics means a number consisting both real and 
imaginary part.Even a real number
also can be written in the form of complex number like 4=4+0j where 4 is its 
real unit whereas 0 is its imaginary
unit.python representation is as follows:'''
a=12+4j
print(type(a))
print(a.real)
print(a.imag)

<class 'complex'>
12.0
4.0

problem-7

In [7]:
#Q7. What is the correct way to declare a variable named age and assign the 
#value 25 to it?
#ans-first step is to create a variable named age and stores simply 25 to it
#AS python is self-smart language it will automatically identifies thetype asint.
age=25
age

25

problem-8

In [8]:
'''Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?'''

price=9.99
#this belong to float datatype
print(price)
print(type(price))

9.99
<class 'float'>

problem-9

In [9]:
'''Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?'''

name="Jashbant Dash"
#simply we can print it through the print function
print(name)

Jashbant Dash

problem-10

In [10]:
#Q10. Given the string "Hello, World!", extract the substring "World".

greet="Hello, World!"
print(greet.index("W"))
print(greet.index("d"))
print(greet[7:12])

7
11
World

problem-11

In [11]:
'''Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.'''

is_student=True
a=input("ARE YOU A STUDENT")
if(a=="yes"):
    print(is_student)
else:
    print("False")

ARE YOU A STUDENT yes

True